*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(221, 222, 204);
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', 'Helvetica Neue';
}
.container{
    margin: 2% 20%;
    font-family: 'Open Sans', 'Helvetica Neue';
}
.container h1{
    text-align: center;
}
.container p{
    text-align: justify;
    font-family: 'Open Sans', 'Helvetica Neue';
}
.container p a{
    text-align: center;
}
.container button{
    font-size: 20px;
    padding: 10px 10px;
}
@media (max-width: 1200px){
    .container{
        margin: 5% 10%;
    }
    .container button{
        margin:5% 15%;
    }
}


