*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(221, 222, 204);
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', 'Helvetica Neue';
    padding-bottom: 20px;
}
.container{
    margin:2% 20%;
    font-family: 'Open Sans', 'Helvetica Neue';
}
.container img{
    margin-left:35%;
    width: 30%;
}
.container h1, h4, h5{
    text-align: center;
}
.container p{
    text-align: justify;
    font-family: 'Open Sans', 'Helvetica Neue';
}
.container p img{
    margin-left: 100px;
    width: 60%;
    height: 400px;
}
.list{
    margin-left: 10%;
}
.container p a{
    text-align: center;
}
.container button{
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 30%;
    margin-bottom: 10%;
}
@media (max-width: 1200px){
    .container{
        margin: 5% 7%;
    }
    .container img{
        margin-left: 10%;
        width: 80%;
    }
    .container p img{
        margin: 0;
        width: 100%;
    }
}
